<VirtualHost *:80>
    ServerAdmin webmaster@localhost
    ServerName ApacheTest
    ServerAlias www.ApacheTest
    DocumentRoot /var/www/ApacheTest
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>